@{
    ViewBag.Title = "About";
}

<div class="container mb-40">
    <img class="img-fluid w-100 mb-40" src="/Content/images/banner.png">
    <p>
        Trong cuộc sống xã hội ngày càng hiện đại, sự ra đời của nhiều vật liệu cửa hiện đại đã làm thay đổi diện mạo mới cho hàng loạt các công trình kiến trúc, ngôi nhà, các xí nghiệp… chúng giúp nâng tầm mọi không gian cho chủ sở hữu. Các loại <strong>cửa khung nhôm kính xingfa, cửa nhựa lõi thép uPVC windows</strong> hiện nay được thiết kế theo tiêu chuẩn hiện đại và có tính thẩm mỹ rất cao đặc biệt là khả năng cách âm, chống ồn rất tốt. Những dòng sản phẩm <strong>cửa nhôm hệ xingfa cao cấp, cửa nhựa lõi thép uPVC windows</strong> đang ngày càng sử dụng thông dụng trong đời sống hiện đại ngày nay đặc biệt là các chung cư cao tầng đều bắt buộc sử dụng cửa nhôm kính, cửa nhựa window làm cửa sổ, hay các cửa đi ban công để bảo đảm độ an toàn cũng như độ bền cửa sản phẩm.
    </p>
    <p>
        Nhằm đáp ứng nhu cầu thị trường, <strong>cơ sở sản xuất cửa nhôm kính – cửa nhựa – cửa sắt Minh Hoàng DL</strong> đã mạnh dạn đầu tư công nghệ máy móc hiện đại, dây chuyển sản xuất tối tân nhất hiện này để đưa vào sản xuất các sản phẩm <strong>cửa nhôm kính – cửa nhựa – cửa sắt</strong> phục vụ quý khách hàng.
    </p>
    <p>
        Sở hữu đội ngũ nhân viên có kinh nghiệm, tay nghề cao, hết mình trong công việc, <strong>Minh Hoàng DL</strong> cung cấp dịch vụ trong toàn tỉnh Lâm Đồng và đem lại sự hài lòng hết tuyệt đối cho khách hàng.
    </p>
    <p>
        Với phương châm "CHẤT LƯỢNG TẠO NÊN SỰ UY TÍN" <strong>Minh Hoàng DL</strong> xin cam kết làm đúng làm đủ, luôn đặt lợi ích của khách hàng lên hàng đầu.
    </p>
</div>